.hiding {
    display: none;
}
body {
    height: 100vh;
    color: navy;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
#clockDate{
    font-size: 25px;
    font-weight: bold;
}
#clockHour{
    font-size: 80px;
    font-weight: bold;
}
#weather{
    margin: 8px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gowun Dodum', sans-serif;
}
#username{
    margin: 8px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Gowun Dodum', sans-serif;
}
#todoUl {
    height: 150px;
    padding-left: 0;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 18px;
}
#todoUl li{
    margin: 4px;
    list-style-type: none;
}
#quotes{
    margin: 8px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gowun Dodum', sans-serif;
}
#todoInput{
    width: 200px;
    height: 40px;
    background: hsl(240, 87%, 15%);
    border: none;
    font-size: 12pt;
    float: left;
    color: navy;
    padding-left: 40px;
    padding-right: 15px;
    -webkit-border-radius: 5px;/* sapari, chrome호환*/
    -moz-border-radius: 5px;
    border-radius: 20px;
    font-family: 'Gowun Dodum', sans-serif;
}
#todoInput::placeholder{
    color: gray;
    font-family: 'Gowun Dodum', sans-serif;
    font-style: italic;
    font-size: 15px;
}
#todoInput:hover, #todoInput:active, #todoInput:focus{
    background-color: rgb(210, 241, 255);
    outline: none;
}